#page-bubble{
	margin-top:80px;
	.bubble
	{
		fill: $yellow;
		stroke: $gray;
		stroke-width:1px;
	}

	.bubble.verified
	{
		fill:$light-blue;
	}
    .types{
      font-size: $s2;
      fill: $bright-blue;
    }
}