#page-bubble{
	position : relative;
	#bubble > svg{
		margin:auto !important;
	}

	.description-text{
		position: absolute;
		width: 200px;
		left: 0;

		.bullet{
			float : left;
			width: 10px;
			height: 10px;
			margin-right: 10px;
			margin-bottom: 5px;
			border-radius : 10px;
		}

		.normal{
			color: $white;
			font-size: $s1;
		}

		.ver{
			background-color : $light-blue;

		}

		.non-ver{
			background-color : $yellow;
		}
	}

	.bubble
	{
		fill: $yellow;
		stroke: #212630;
		stroke-width:1px;
	}

	.bubble.verified
	{
		fill:$light-blue;
	}

    .types{
      font-size: $s2;
      fill: $bright-blue;
    }

    #options{

    	width: 33%;
    	margin : 71px + 71px auto 0 auto;

    	
    	.bubble-button{
    		font-size: $s2;
    		color: $white;
    		margin-right: 10%;
	    	cursor : pointer
    	}
    }
    #marker{
    	position:relative;
		background-color: $red;
		height: 0px;
		border: 1px solid $red;
		border-radius: 10px;
		top: $s2 + 5px;
    }
}

#all{
	float:right;
}
#type{
	float:left;
}