#page-intro {
    .container{
      padding-top: 80px;

      .description-text{
        width: 400px;
        margin: 0 100px;
        margin-bottom: 40px;
      }
    }

    .y path{
        fill: none;
    }
    .y text{
        text-transform: uppercase;
        fill: $light-blue;
    }

    .grid .tick{stroke: $light-blue;opacity:0.7;}
    .grid path{stroke-width:0.1;shape-rendering:crispEdges;}
    .hour{
        fill: $dark-blue;

    }

    .hour-light{
        fill: $gray;
    }
    .hourLabel{
        fill: $light-blue;
    }
}