#network{
	svg
  {
  margin-top:71px !important;
  }
    .bubble
    {
      fill: $yellow;
      stroke: $gray;
      stroke-width:1px;
    }

    .bubble.verified
    {
      fill:$light-blue;
    }
}