#network{
  svg{
    margin-top:71px !important;
  }
  .description-text{
    position: absolute;
    width: 225px;
    left: 0px;
    top: 15%;

    .bullet{
      float : left;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      border-radius : 10px;
    }

    .normal{
      color: $white;
      font-size: $s1;
    }

    .ver{
      background-color : $light-blue;

    }

    .non-ver{
      background-color : $yellow;
    }
  }
    .bubble
    {
      fill: $yellow;
      stroke: $gray;
      stroke-width:1px;
    }

    .bubble.verified
    {
      fill:$light-blue;
    }
}