#network{
  svg{
    margin-top:71px !important;
  }
  .description{
    position: absolute;
    width: 200px;
    left: 10%;
    top: 20%;
  }
    .bubble
    {
      fill: $yellow;
      stroke: $gray;
      stroke-width:1px;
    }

    .bubble.verified
    {
      fill:$light-blue;
    }
}