#tweet-map
{

    margin-top:0px !important;
    position:relative;


    #map
    {
            margin-top:71px !important;
    }


    text
    {
            font-size:16px;
            font-family: 'Collator';
            fill: $white-blue;
    }

}