#tweet-map
{
    g:nth-child(2) > path:nth-child(7){ /* Remove penguins*/
      display: none;
    }
    margin-top:0px !important;



    #map{
      margin-top:50px !important;
    }

    .description-text{
      position: absolute;
      top: 460px;
      left: 370px;
	}
}