#word-chart
{
    svg
  {
  margin-top:71px !important;
  }
    position: relative;

    .tick{
      fill:$light-blue;
    }
    div > svg:nth-child(2){
      position: absolute;
      top: 40px;
      right: 100px;
    }
    div > svg:nth-child(2) > text{
      fill: $bright-blue;
      cursor: default;
    }
    div > svg:nth-child(1){
     position: absolute;
     background-color: $dark-blue;
     top: 44px;
     right: 360px;
    }
    path {
    stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .grammes path,
    .grammes line {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
            stroke-width: 2;
        shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

    .grid .tick {
        stroke: $medium-blue;
        opacity: 0.7;
    }
    .grid path {
        stroke-width: 0;
    }

    .lala {
    background-color: red;
    }

    table,th,td
    {
    border:1px dotted lightgrey;
    border-collapse:collapse;
    }

    th,td
    {
    padding:5px;
    }

    .tableHead{
            background: #eee;
    }

}