@import 'bourbon/bourbon';

$speedf : 1.5s;
$speedt : 1.2s;
$transf: 15%;
$transt: 20%;
$fadet: 1s;
$fadef: 1s;

/* move from / to and fade */

.pt-page-moveToLeftFade {
  @include animation(moveToLeftFade $speedt ease-out);
  @include animation-fill-mode(forwards);
}

.pt-page-moveFromLeftFade {
  @include animation(moveFromLeftFade $speedf ease-out);
  @include animation-fill-mode(forwards);
}

.pt-page-moveToRightFade {
  @include animation(moveToRightFade $speedt ease-out);
  @include animation-fill-mode(forwards);
}

.pt-page-moveFromRightFade {
  @include animation(moveFromRightFade $speedf ease-out);
  @include animation-fill-mode(forwards);
}

/* move from / to and fade */


@include keyframes(moveToLeftFade){
  30%{
    opacity: 0;
  }
  100% {
    @include transform(translateX(-$transt));
    opacity: 0;
  }
}

@include keyframes(moveFromLeftFade){
  0%{
    opacity: 0;
    @include transform(translateX(-$transf));
  }
  50%{
    @include transform(translateX(0));
  }
  100%{
    opacity: 1;
    @include transform(translateX(0));
  }
}

@include keyframes(moveToRightFade){
  30%{
    opacity: 0;
  }
  100% {
    @include transform(translateX($transt));
    opacity: 0;
  }
}

@include keyframes(moveFromRightFade){
  0%{
      opacity: 0;
      @include transform(translateX($transf));
  }
  50%{
    @include transform(translateX(0));
  }
  100%{
    opacity: 1;
    @include transform(translateX(0));
  }
}