/* General styling for SVG, path, circle, p, h1 etc */
a {
  color: $saturated-blue;
}

circle
    {
      fill:#db3d3c;
      cursor:pointer;
    }

    circle:hover
    {
        fill:$dark-blue;
    }

    svg
    {
      display:block;
      margin:0px !important;
    }

    path 
    {
    stroke:$light-blue;
    stroke-width: 0.25px;
    fill:$dark-blue;
    }


    div.tooltip {
      border-radius:3px;
      position: absolute;
      text-align: left;    
      background: $bright-blue;
      height:auto;
      min-width: 100px;
      max-width:450px;
      padding: 13px;
      font-size: $s1;
      color: $dark-blue;
      overflow: hidden;
      z-index:999;
      line-height: 21px;

      p{
      color: $dark-blue;
    }

    h1{
      color: $medium-blue;
    }  
      }


    div.newstip .time
    {
      margin:0px;
    }


      
    /* Slider is now common as it is needed on multiple pages. */

    #slider
    {
      position:fixed;

          div.timediv 
    {
      h1
      {
      line-height:$s2 + 12;
      margin:0px;
      font-size:$s2;
      }
      z-index:30000;
    }
    }

    .d3-slider {
      cursor: pointer;
        position: relative;
        z-index: 2;
    }


    .d3-slider-handle {
        margin-top:8px;
        height:62px;
        position: absolute;
        width: 10px;
        background: rgba($saturated-blue, 0.6);
        z-index: 3;
        cursor: col-resize;
    }

    /* Styling for slider */
    #slider
    {
    rect
    {
        fill:#3a414c;
        cursor:pointer;
    }
    

    #startstop
    {
        padding-top:4px;
        width:70px;
        float:left;
        position: fixed
    }

    #startstop a
    {
        margin-left:8px;
        color:white;   
        text-decoration: none;
        width: 55px;
        height: 55px;
        display: block;
        background: url(../img/pause.png);
    }

    #startstop a.play
    {
        background: url(../img/play.png);
    }

}


/* Vertical grid */

.v-1{
  top: 20%;
}

.v-2{
  top: 40%;
}
.v-3{
  top: 60%;
}
.v-4{
  top:80%;
}

.h-1{
  position: absolute;
  left: 16%;
}

.h-2{
  position: absolute;
  left: 32%;
}
.h-3{
  position: absolute;
  left: 48%;
}
.h-4{
  position: absolute;
  left:64%;
}
.h-5{
  position: absolute;
  left: 80%;
}
.h-6{
  position: absolute;
  left: 96%;
}

.dark-tint{
  background-color: #060b0f;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.selected-tweets-text{
  font-style: italic;
  background-color: rgba(255,255,255,0.6);
  line-height: 22px;
  color: $dark-blue;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
  width: 450px;
}

.selected-tweets-text span {
  color: $dark-blue;
  font-weight: 700;
}

.description p{
  color: $white;
  font-size: $s1;
  line-height: 20px;
}

.description span{
  color: $red;
  font-size: $s2;
}

