/* General styling for SVG, path, circle, p, h1 etc */
a {
  color: $saturated-blue;
}

circle
    {
      fill:#db3d3c;
      cursor:pointer;
    }

    circle:hover
    {
        fill:$dark-blue;
    }

    svg
    {
      display:block;
      margin:0px !important;
    }

    path 
    {
    stroke:$light-blue;
    stroke-width: 0.25px;
    fill:$dark-blue;
    }


    div.tooltip {
      border-radius:3px;
      position: absolute;
      text-align: left;    
      background: $bright-blue;
      height:auto;
      min-width: 100px;
      max-width:450px;
      padding: 10px;
      font-size: $s1;
      color: $dark-blue;
      overflow: hidden;
      z-index:999;  

      p{
      color: $dark-blue;
    }

    h1{
      color: $medium-blue;
    }  
      }


    div.newstip .time
    {
      margin:0px;
    }


      
    /* Slider is now common as it is needed on multiple pages. */

    #slider
    {
      position:fixed;

          div.timediv 
    {
      h1
      {
      line-height:$s2 + 12;
      margin:0px;
      font-family: 'Collator';
      font-size:$s2;
      }
      z-index:30000;
    }
    }

    .d3-slider {
      cursor: pointer;
        position: relative;
        z-index: 2;
    }


    .d3-slider-handle {
        margin-top:8px;
        height:62px;
        position: absolute;
        width: 10px;
        background: rgba($saturated-blue, 0.6);
        z-index: 3;
        cursor: col-resize;
    }

    /* Styling for slider */
    #slider
    {
    rect
    {
        fill:#3a414c;
        cursor:pointer;
    }
    

    #startstop
    {
        padding-top:4px;
        width:70px;
        float:left;
        position: fixed
    }

    #startstop a
    {
        margin-left:8px;
        color:white;   
        text-decoration: none;
        width: 55px;
        height: 55px;
        display: block;
        background: url(../img/pause.png);
    }

    #startstop a.play
    {
        background: url(../img/play.png);
    }

}
