@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Homenaje);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

h1{
  text-transform: capitalize;
  font-size: $s5;
  font-weight: 200;
  font-family: 'Muli', sans-serif;
  color: $white;
  line-height: 44px;
  margin-bottom: 10px;
}

h2{
  text-transform: capitalize;
  font-size: $s4;
  font-weight: 300;
  color: $white;
  line-height: 41px;
  margin-bottom: 13px;
}

h3{
  font-size: $s3;
  color: $white;
  line-height: 22px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: $s1;
  color: $white;
  line-height: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: $s1;
}

.red {
  color: $red;
  font-weight: bold;
}