//COLORS
$bg-blue: #212630;
$dark-blue: #343A45;
$medium-blue: #4f5967;
$light-blue: #8d94a5;
$bright-blue: #b8bcc1;
$white-blue: #DBE1E7;
$gray: #4C515C;
$saturated-blue: #008DAA;
$grayTest: rgba(255,255,255,0.6);
$yellow: #C5BB91;
$red: #DB3D3D;
$white: #DBE1E7;

//SIZES AND FONT SCALE
$s0: 11px;
$s1: 13px;
$s2: 16px;
$s3: 24px;
$s4: 32px;
$s5: 54px;
$doc-width: 1190px;

//STYLES
@import "reset";
@import "navigation";
@import 'fonts';
@import "common";
@import "animations";

//PAGES
@import "pages/massMediaCoverage";
@import "pages/tweet-map";
@import "pages/wordChart";
@import "pages/bubble";
@import "pages/network";
@import "pages/photos";
@import "pages/intro";