/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open sans', sans-serif; }

.container {
  max-width: 1190px;
  width: auto;
  margin: 0 auto;
  height: 100%; }

#story-nav {
  cursor: default;
  background-color: #343a45;
  font-family: 'collator';
  width: 100%;
  height: 71px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999; }
  #story-nav #logo {
    padding: 20px 0 0;
    height: 100%;
    width: 180px;
    color: #8a93a5;
    float: left;
    font-size: 16px; }
    #story-nav #logo span {
      font-family: 'Open sans';
      font-size: 10px;
      letter-spacing: 1px; }
  #story-nav ul {
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    color: #dbe1e7;
    padding: 30px 0 0 20px;
    font-size: 16px; }
  #story-nav li {
    display: inline-block;
    margin-left: 50px; }
  #story-nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none; }

.pages-container {
  width: 100%;
  background-color: #4c515c;
  overflow-x: hidden; }
  .pages-container #pages {
    transition: all 0.5s ease-out; }
    .pages-container #pages .page {
      border: 3px solid #000;
      display: block;
      color: #8a93a5;
      min-height: 700px; }
      .pages-container #pages .page .container {
        margin-top: 30px; }

#arrow-right {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  right: 50px;
  top: 50%;
  width: 22px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
  background-size: 22px 40px;
  background-image: url("../img/arrow-right.png");
  z-index: 100;
  -webkit-user-select: none; }

#arrow-left {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  left: 50px;
  top: 50%;
  width: 22px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
  background-size: 22px 40px;
  background-image: url("../img/arrow-left.png");
  z-index: 100;
  -webkit-user-select: none; }

h1 {
  font-family: 'Collator', sans-serif;
  font-size: 32px;
  color: #DBE1E7;
  line-height: 38px; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #ACB2C1;
  line-height: 20px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px; }

@font-face {
  font-family: "collator";
  src: url("./fonts/collator.eot");
  src: url("./fonts/collator.eot?#iefix") format("embedded-opentype"), url("./fonts/collator.woff") format("woff"), url("./fonts/collator.ttf") format("truetype"), url("./fonts/collator.svg#collator") format("svg");
  font-style: normal;
  font-weight: normal; }
div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: 15px;
  padding: 5px 10px;
  font-size: 13px;
  color: #dbe1e7;
  background: rgba(255, 255, 255, 0.6);
  border: 0px;
  pointer-events: none; }

div.tooltipline {
  width: 2px;
  /* Line width */
  background-color: black;
  /* Line color */
  height: 100%;
  /* Override in-line if you want specific height. */
  float: left;
  z-index: 1000; }

#page-intro .container {
  padding-top: 80px; }
  #page-intro .container p {
    width: 500px; }

#tweet-map {
  margin-top: 0px !important;
  position: relative;
  /* D3 Slider */ }
  #tweet-map #startstop {
    padding-top: 4px;
    width: 70px;
    float: left;
    position: absolute; }
  #tweet-map #startstop a {
    margin-left: 8px;
    color: white;
    text-decoration: none;
    width: 55px;
    height: 55px;
    display: block;
    background: url(../img/pause.png); }
  #tweet-map #startstop a.play {
    background: url(../img/play.png); }
  #tweet-map svg {
    display: block;
    margin: 0px !important; }
  #tweet-map circle {
    cursor: pointer; }
  #tweet-map #map {
    margin-top: 71px !important; }
  #tweet-map path {
    stroke: #8a93a5;
    stroke-width: 0.25px;
    fill: #343a45; }
  #tweet-map text {
    font-size: 16px;
    font-family: 'Collator';
    fill: #dbe1e7; }
  #tweet-map #barchart rect {
    fill: #3a414c;
    cursor: pointer; }
  #tweet-map #barchart circle {
    fill: #db3d3c;
    cursor: pointer; }
  #tweet-map #barchart circle:hover {
    fill: #343a45; }
  #tweet-map .d3-slider {
    cursor: pointer;
    position: relative;
    z-index: 2; }
  #tweet-map .d3-slider-horizontal {
    height: 100%; }
  #tweet-map .d3-slider-handle {
    position: absolute;
    width: 5px;
    height: 100%;
    background: rgba(66, 73, 87, 0.6);
    border-left: 1px solid rgba(138, 147, 165, 0.6);
    border-right: 1px solid rgba(138, 147, 165, 0.6);
    z-index: 3;
    cursor: col-resize; }
  #tweet-map div.newstip {
    border-radius: 6px;
    position: absolute;
    text-align: left;
    width: 200px;
    height: 200px;
    padding: 5px 5px;
    font-size: 13px;
    color: #fff;
    background: rgba(66, 73, 87, 0.6); }
  #tweet-map div.newstip .time {
    margin: 0px; }

#word-chart path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none; }
#word-chart .grammes path,
#word-chart .grammes line {
  stroke: steelblue;
  stroke-width: 2;
  fill: none; }
#word-chart .axis path,
#word-chart .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 2;
  shape-rendering: crispEdges; }
#word-chart .x.axis path {
  display: none; }
#word-chart .axis text {
  font-family: sans-serif;
  font-size: 11px; }
#word-chart .grid .tick {
  stroke: #343A45;
  opacity: 0.7; }
#word-chart .grid path {
  stroke-width: 0; }
#word-chart .lala {
  background-color: red; }
#word-chart table, #word-chart th, #word-chart td {
  border: 1px dotted lightgrey;
  border-collapse: collapse; }
#word-chart th, #word-chart td {
  padding: 5px; }
#word-chart .tableHead {
  background: #eee; }
