/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Homenaje);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open sans', sans-serif;
  overflow: hidden; }

.container {
  max-width: 1190px;
  width: auto;
  margin: 0 auto;
  height: 100%; }

#story-nav {
  cursor: default;
  background-color: #343a45;
  font-family: 'collator';
  width: 100%;
  height: 71px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999; }
  #story-nav #logo {
    padding: 20px 0 0;
    height: 100%;
    width: 180px;
    color: #9399a5;
    float: left;
    font-size: 16px; }
    #story-nav #logo span {
      font-family: 'Open sans';
      font-size: 10px;
      letter-spacing: 1px; }
  #story-nav ul {
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    color: #dbe1e7;
    padding: 30px 0 0 20px;
    font-size: 16px; }
  #story-nav li {
    display: inline-block;
    margin-left: 50px; }
  #story-nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none; }

.pages-container {
  width: 100%;
  background-color: #4c515c;
  overflow: hidden; }
  .pages-container #pages .page {
    border-bottom: 1px solid #343a45;
    display: block;
    color: #9399a5;
    min-height: 700px;
    overflow: hidden; }
    .pages-container #pages .page .container {
      margin-top: 30px; }

#arrow-right {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  right: 50px;
  top: 50%;
  width: 22px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
  background-size: 22px 40px;
  background-image: url("../img/arrow-right.png");
  z-index: 100;
  -webkit-user-select: none; }

#arrow-left {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  left: 50px;
  top: 50%;
  width: 22px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
  background-size: 22px 40px;
  background-image: url("../img/arrow-left.png");
  z-index: 100;
  -webkit-user-select: none; }

h1 {
  font-family: 'Collator', sans-serif;
  font-size: 32px;
  color: #DBE1E7;
  line-height: 38px; }

h2 {
  font-size: 16px;
  color: #DBE1E7;
  line-height: 38px; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #ACB2C1;
  line-height: 20px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px; }

@font-face {
  font-family: "collator";
  src: url("./fonts/collator.eot");
  src: url("./fonts/collator.eot?#iefix") format("embedded-opentype"), url("./fonts/collator.woff") format("woff"), url("./fonts/collator.ttf") format("truetype"), url("./fonts/collator.svg#collator") format("svg");
  font-style: normal;
  font-weight: normal; }

/* General styling for SVG, path, circle, p, h1 etc */
p {
  font-family: 'Open Sans';
  margin: 0px;
  font-size: 12px; }

a {
  color: #008daa; }

circle {
  fill: #db3d3c;
  cursor: pointer; }

circle:hover {
  fill: #343a45; }

svg {
  display: block;
  margin: 0px !important; }

path {
  stroke: #9399a5;
  stroke-width: 0.25px;
  fill: #343a45; }

div.tooltip {
  border-radius: 3px;
  position: absolute;
  text-align: left;
  background: #acb2c1;
  height: auto;
  min-width: 100px;
  max-width: 450px;
  padding: 10px;
  font-size: 12px;
  color: #343a45;
  overflow: hidden;
  z-index: 999; }
  div.tooltip p {
    color: #343a45; }
  div.tooltip h1 {
    color: #424957; }

div.newstip .time {
  margin: 0px; }

/* Slider is now common as it is needed on multiple pages. */
#slider {
  position: fixed; }
  #slider div.timediv {
    z-index: 30000; }
    #slider div.timediv h1 {
      line-height: 28px;
      margin: 0px;
      font-family: 'Collator';
      font-size: 16px; }

.d3-slider {
  cursor: pointer;
  position: relative;
  z-index: 2; }

.d3-slider-handle {
  margin-top: 8px;
  height: 62px;
  position: absolute;
  width: 10px;
  background: rgba(0, 141, 170, 0.6);
  z-index: 3;
  cursor: col-resize; }

/* Styling for slider */
#slider rect {
  fill: #3a414c;
  cursor: pointer; }
#slider #startstop {
  padding-top: 4px;
  width: 70px;
  float: left;
  position: fixed; }
#slider #startstop a {
  margin-left: 8px;
  color: white;
  text-decoration: none;
  width: 55px;
  height: 55px;
  display: block;
  background: url(../img/pause.png); }
#slider #startstop a.play {
  background: url(../img/play.png); }

#page-intro .container {
  padding-top: 80px; }
  #page-intro .container p {
    width: 500px; }
#page-intro .y path {
  fill: none; }
#page-intro .y text {
  text-transform: uppercase;
  fill: #9399a5; }
#page-intro .grid .tick {
  stroke: #9399a5;
  opacity: 0.7; }
#page-intro .grid path {
  stroke-width: 0.1;
  shape-rendering: crispEdges; }
#page-intro .hour {
  fill: #343a45; }
#page-intro .hour-light {
  fill: #4c515c; }
#page-intro .hourLabel {
  fill: #9399a5; }

#tweet-map {
  margin-top: 0px !important;
  position: relative; }
  #tweet-map #map {
    margin-top: 71px !important; }
  #tweet-map text {
    font-size: 16px;
    font-family: 'Collator';
    fill: #dbe1e7; }

#word-chart {
  position: relative; }
  #word-chart .tick {
    fill: #9399a5; }
  #word-chart div > svg:nth-child(2) {
    position: absolute;
    top: 40px;
    right: 100px; }
  #word-chart div > svg:nth-child(2) > text {
    fill: #acb2c1;
    cursor: default; }
  #word-chart div > svg:nth-child(1) {
    position: absolute;
    background-color: #343a45;
    top: 44px;
    right: 360px; }
  #word-chart path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none; }
  #word-chart .grammes path,
  #word-chart .grammes line {
    stroke: steelblue;
    stroke-width: 2;
    fill: none; }
  #word-chart .axis path,
  #word-chart .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges; }
  #word-chart .x.axis path {
    display: none; }
  #word-chart .axis text {
    font-family: sans-serif;
    font-size: 11px; }
  #word-chart .grid .tick {
    stroke: #424957;
    opacity: 0.7; }
  #word-chart .grid path {
    stroke-width: 0; }
  #word-chart .lala {
    background-color: red; }
  #word-chart table, #word-chart th, #word-chart td {
    border: 1px dotted lightgrey;
    border-collapse: collapse; }
  #word-chart th, #word-chart td {
    padding: 5px; }
  #word-chart .tableHead {
    background: #eee; }

#page-bubble {
  margin-top: 80px; }
  #page-bubble .bubble {
    fill: #c5bb91;
    stroke: #4c515c;
    stroke-width: 1px; }
  #page-bubble .bubble.verified {
    fill: #9399a5; }
  #page-bubble .types {
    font-size: 16px;
    fill: #acb2c1; }

#network {
  margin-top: 80px; }
  #network .bubble {
    fill: #c5bb91;
    stroke: #4c515c;
    stroke-width: 1px; }
  #network .bubble.verified {
    fill: #9399a5; }

#photo-gallery {
  position: relative; }
  #photo-gallery .image-tile {
    background-repeat: no-repeat;
    float: left; }
  #photo-gallery .img-row {
    overflow: hidden; }
  #photo-gallery #preview {
    position: absolute;
    overflow: hidden;
    z-index: 100;
    padding: 10px;
    background-color: #1b1e2a;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(34, 34, 42, 0.96);
    top: 0;
    left: 0; }
  #photo-gallery #big-pic {
    max-height: 300px;
    max-width: 300px; }

#page-intro .y path {
  display: none; }
#page-intro .container {
  padding-top: 80px; }
  #page-intro .container p {
    width: 500px; }
