body{
	margin:0;
	font-family: 'Lato';
	font-size:10px;
	background-color:#444;
}
#startstop
{
    position:fixed;
    top:0px;
    left:0px;
    padding-top:4px;
    width:29%;
    float:left;
}
#startstop a
{
    margin-left:8px;
    color:white;   
    text-decoration: none;
}



path {
  stroke: #555;
  stroke-width: 0.25px;
  fill:#222}

circle
{
	box-shadow: 10px;
}

text
{
	font-size:16px;
	font-family: 'Lato';
	fill: white;
}
#barchart
{
    border-bottom:1px solid #222;
    margin-top:3px;
}
#barchart rect
{
    fill:#222;
    cursor:pointer;
}

#barchart rect:hover
{
    fill:#FF8A66;
}

.currentbar
{
    fill:#FF6666 !important;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
